{% extends "leaderboard/base.html" %}
{% block title %}Leaders{% endblock %}
{% block content %}
<section class='leaders-section'>

  <h2>Leaders</h2>

  <ul class='leader-list list-unstyled'>
  {% for leader in leader_set.all %}
    {% with score=leader.closed_score %}
      <li class='leader' data-score='{{ score }}'>
        <span class='name'>{{ leader.name }}</span>
        <span class='score'>{{ score }}</span>
      </li>
    {% endwith %}
  {% empty %}
    <li class='leader empty'>
      No one yet! Get started!
    </li>
  {% endfor %}
  </ul>

</section>
{% endblock %}
