{% extends "leaderboard/base.html" %}
{% load staticfiles %}
{% block title %}Leaders{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'leaderboard/css/leaders.css' %}">
{% endblock %}
{% block content %}
<section class='leaders-section'>

  <h2>Coffee is for Closers</h2>

  <ul class='leader-list list-unstyled'>
  {% for leader in leader_set.all %}
    {% with score=leader.closed_score %}
      <li class='leader' data-name='{{ leader.name }}'>
        <span class='name'>{{ leader.name }}</span>
        <span class='score'>{{ score }}</span>
      </li>
    {% endwith %}
  {% empty %}
    <li class='leader empty'>
     <span class='name'>No one yet!</span>
    </li>
  {% endfor %}
  </ul>

  {% if last_updated %}
    <p id='last-updated' data-isodate='{{ last_updated|date:'c' }}'>Last updated {{ last_updated|date:'r' }}</p>
  {% else %}
    <p id='last-updated'></p>
  {% endif %}

</section>
{% endblock %}
{% block scripts %}
<script src="{% static 'leaderboard/js/leaders.js' %}"></script>
<script>
$(document).ready(function(){
  'use strict';

  /* initialize list sort by name */
  var $list = $('.leader-list').isotope({
    itemSelector: 'li.leader',
    layoutMode: 'vertical',
    getSortData: {
      name: function(elt){ return $(elt).find('.name').text(); },
      score: function(elt){ return 0 - parseInt($(elt).find('.score').text()); },
    },
    sortBy: 'name',
  });
  /* then immediately switch to score for the visual effect */
  $list.isotope({sortBy: 'score'});

  /* extract the existing list from the DOM */
  var existing = [];
  $list.find('.leader:not(.empty)').each(function(){
    var name = $(this).find('.name').text();
    var score = $(this).find('.score').text();
    existing.push({name: name, score: score});
  });

  var leaderboard = new Leaderboard("{{ company_uid|escapejs }}", existing);
  var wasEmpty = $list.find('.leader.empty').length > 0;

  /* on update save, update the DOM and force isotope to reread values and resort */
  leaderboard.on('updated', function(evt, updates){
    $.each(updates, function(_,leader){
      $list.find('.leader[data-name="' + leader.name + '"] .score').text(leader.score);
    });
    $list.isotope('updateSortData').isotope();
    $('#last-updated').text("Last updated " + (new Date()).toString());
  });

  /* on new values saved, use isotope to append to the list and DOM */
  leaderboard.on('added', function(evt, adds){
    var html = "<li class='leader'><span class='name'></span><span class='score'></span></li>";
    var elts = [];
    $.each(adds, function(_,leader){
      var $elt = $(html);
      $elt.attr('data-name', leader.name);
      $elt.find('.name').text(leader.name);
      $elt.find('.score').text(leader.score);
      elts.push($elt[0]);
    });
    if (wasEmpty){
      $list.isotope('remove', $list.isotope('getItemElements'));
      wasEmpty = false;
    }
    $list.isotope('insert', elts);
    $('#last-updated').text("Last updated " + (new Date()).toString());
  });

  // attach to the window for debugging
  window.leaderboard = leaderboard;

});
</script>
{% endblock %}
